/**
* @file
* @author xuwenlong
* @date 2017-08-15
*/
@font-face {
  font-family: 'resume-font';
  /* project id 396737 */
  src: url('//at.alicdn.com/t/font_396737_0vyhz1z7vavpldi.eot');
  src: url('//at.alicdn.com/t/font_396737_0vyhz1z7vavpldi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_396737_0vyhz1z7vavpldi.woff') format('woff'), url('//at.alicdn.com/t/font_396737_0vyhz1z7vavpldi.ttf') format('truetype'), url('//at.alicdn.com/t/font_396737_0vyhz1z7vavpldi.svg#resume-font') format('svg');
}
* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
* a,
* input {
  outline: none;
  text-decoration-line: none;
}
* ul li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  height: 3.74rem;
  line-height: 3.75rem;
  text-indent: 1.875rem;
  font-size: 1.25rem;
  color: #fff;
  background-image: linear-gradient(to right, rgba(33, 39, 48, 0.5), rgba(255, 255, 255, 0));
}
h2 {
  margin-bottom: 1.875rem;
  padding-bottom: 1rem;
  letter-spacing: .1875rem;
  color: #393e46;
  width: 93%;
  margin: 2.1875rem auto;
  border-bottom: 1px solid #00adb5;
}
#app,
.container {
  height: 100%;
}
.icon {
  position: relative;
  flex: auto;
  padding: 25px;
  overflow: hidden;
}
.icon:hover {
  text-shadow: 0px 0px 35px #fff;
  animation: icon-hover 0.5s ease-out forwards;
}
@keyframes icon-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
}
.icon:hover:before {
  font-family: 'resume-font';
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.icon:hover.icon-html:before {
  content: '\e60b';
  background: #ff751e;
}
.icon:hover.icon-css:before {
  content: '\e6d7';
  background: #188bdc;
}
.icon:hover.icon-js:before {
  content: '\e609';
  background: #9cd4df;
}
.icon:hover.icon-h5:before {
  content: '\e641';
  background: #e44d26;
}
.icon:hover.icon-css3:before {
  content: '\e636';
  background: #bd2d30;
}
.icon:hover.icon-vue:before {
  content: '\e673';
  background-image: radial-gradient(at 50%, #4fc08d, #35495e);
}
.icon:hover.icon-less:before {
  content: '\e60f';
  background: #1d365d;
}
.icon:hover.icon-webpack:before {
  content: '\e604';
  background: #84c6e8;
}
.icon:hover.icon-node:before {
  content: '\e622';
  background: #3d8836;
}
.icon:hover.icon-jq:before {
  content: '\e605';
  background: #78cff5;
}
.icon:hover.icon-zepto:before {
  content: '\e6c2';
  background: #c23cff;
}
.icon:hover.icon-swiper:before {
  content: '\e68a';
  background: #003699;
}
.icon:hover.icon-echart:before {
  content: '\e653';
  background: #aa314d;
}
.icon:hover.icon-sqlit:before {
  content: '\e601';
  background: #0482c4;
}
.icon:hover.icon-sui:before {
  font-size: inherit;
  content: '\SUI Mobile';
  background: #591c95;
}
.icon:hover.icon-mui:before {
  content: '\e624';
  background: #d74b28;
}
.icon:hover.icon-webstorm:before {
  content: '\e6d6';
  background: #17699b;
}
.icon:hover.icon-sublime:before {
  content: '\e603';
  background: #444444;
}
.icon:hover.icon-vs-code:before {
  content: '\e738';
  background: #373277;
}
.icon:hover.icon-github:before {
  content: '\e874';
  background: #24292e;
}
/* 移动端 */
@media screen and (min-device-width: 320px) and (max-device-width: 750px) and (min-device-height: 480px) {
  h1 {
    font-size: 1rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-indent: .9375rem;
    text-align: center;
    background-color: rgba(33, 39, 48, 0.5);
  }
}
