/**
* @file
* @author xuwenlong
* @date 2017-08-15
*/
@font-face {
  font-family: 'resume-font';
  /* project id 396737 */
  src: url('//at.alicdn.com/t/font_396737_3x331nsleib2o6r.eot');
  src: url('//at.alicdn.com/t/font_396737_3x331nsleib2o6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_396737_3x331nsleib2o6r.woff') format('woff'), url('//at.alicdn.com/t/font_396737_3x331nsleib2o6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_396737_3x331nsleib2o6r.svg#resume-font') format('svg');
}
* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
* a,
* input {
  outline: none;
  text-decoration-line: none;
}
* ul li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app,
.container {
  height: 100%;
}
